# Order Service
DATABASE_URL=postgres://postgres:postgres@localhost:5432/orderdb
KAFKA_BROKER=localhost:9092
PORT=8080

# Inventory Service
DATABASE_URL=postgres://postgres:postgres@localhost:5433/inventorydb
KAFKA_BROKER=localhost:9092
PORT=8081

# Payment Service
DATABASE_URL=postgres://postgres:postgres@localhost:5434/paymentdb
KAFKA_BROKER=localhost:9092
PORT=8082

# Notification Service
DATABASE_URL=postgres://postgres:postgres@localhost:5436/notificationdb
KAFKA_BROKER=localhost:9092
PORT=8083